:root {
/* fonts */
    --heading-font: 'Poppins', sans-serif;
    --body-font: 'Open Sans', sans-serif;
/* colors */
    --accent-color:hsl(322, 100%, 66%);
    --dark-cyan: hsl(192, 100%, 9%);
    --gray-blue: hsl(208, 11%, 55%);
    --light-blue: rgb(244, 250, 255);
    --white: #ffffff;
/* spacing */
    --spacing: 8%;
    --vertical-spacing: 70px;
}

.container,
main,
.footer-container{
    margin: 8% var(--spacing);
    
}

#button-wrapper {
    margin: 30% var(--spacing)
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}

li {
     display: inline-block;
}

#the-main-logo {
    width: 49%;
    float: left;
}

#call-to-action-button {
    border: .5px solid;
    border-color: var(--accent-color);
    box-shadow: 0 1px 20px -16px var(--accent-color) ;
    padding: 2%;
    color: var(--accent-color);
    width: 70px;
    text-align: center;
    border-radius: 4px;
    text-transform: capitalize;
    font-family: var(--body-font);
    font-size: .6em;
    float: right;
}

#main-heading {
    font-family: var(--heading-font);
    text-align: center;
    font-size: 1.5em;
    padding-top: var(--vertical-spacing);
    line-height: 2rem;
}

#main-paragraph {
    color: var(--gray-blue);
    font-family: var(--body-font);
    text-align: center;
    font-size: .8rem;
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    line-height: 1.1rem;
}

.main-image,
#second-image {
    width: 320px;
    display: block;
    margin: 0 auto;
    padding-top: var(--vertical-spacing);
    padding-bottom: var(--vertical-spacing);
}

#second-image {
    width: 270px;
    padding-top: 35%;
}

.main-container {
    background-color: var(--light-blue)
}

.second-headings {
    font-family: var(--heading-font);
    font-size: 1.2rem;
}

.second-paragraph{
    font-family: var(--body-font);
    color: var(--gray-blue);
    font-size: .8rem;
    line-height: 1.1rem;
    padding-bottom: 40px;
    max-width: 290px;
}

#bottom-paragraph{
    padding-bottom: 100px;
}

.size-heading {
    font-size: 1.1rem;
}

#free-button {
    display: block;
    margin: 0 auto;
    width: 220px;
    height: 42px;
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-family: var(--body-font);
    font-weight: 700;
    font-size: .8rem;
    background: linear-gradient(50deg, #ffffff -190%, hsla(322, 100%, 66%, 0.863) 80%, #ffffff 150%);
    margin-top: 40px;
}

footer {
    background-color: var(--dark-cyan);
    color: white;
}

#footer-header {
    font-family: var(--heading-font);
    font-weight: 400;
    padding-top: 100px;
}

input[type="email"]{
    width: calc(100% / 60px);
    height: 34px;
    border: none;
    border-radius: 2px 0 0 2px;
    padding-left: 10px;
    margin-bottom: 50px; 
   /* icon inside input field */
}

::placeholder {
 color: rgb(226, 226, 226);
 font-family: var(--body-font);
 font-size: .8rem;
}

#footer-logo {
 fill: white;
}

#footer-paragraph {
    font-family: var(--body-font);
    line-height: 1.5rem;
    padding-bottom: 18px;
}

i {
    font-size: 30px;
    margin-right: 15px;
    margin-bottom: 50px;
}

#footer-nav {
    display: flex;
    flex-direction: column;
    font-family: var(--body-font)
   
}

.footer-list {
  margin-bottom: 15px;
}

.footer-list:nth-child(3){
    margin-bottom: 50px;
}

li a {
     color: var(--white);
     text-decoration: none;
}

#copyright-paragraph {
    text-align: center;
    font-family: var(--body-font);
    font-size: .8rem;
    position: relative;
    

}

